/* src/styles/variables.scss */
$primary-color: #4CAF50; /* Cor principal */
$secondary-color: #F44336; /* Cor secundária */
$text-color: #333; /* Cor do texto */
$background-color: #f9f9f9; /* Cor de fundo */
$font-family: 'Arial', sans-serif;
