# Ignorar pastas de cache e configurações locais
.cache/
.local/
.npm/
.pm2/
.ssh/
.snap/

# Ignorar arquivos de histórico e configurações de terminal
.bash_history
.bashrc
.profile
.git-credentials
.gitconfig
.lesshst

# Ignorar arquivos de configuração do PM2 ou similares
ecosystem.config.js

# Ignorar arquivos de ambiente
.env
envTest.js

# Ignorar arquivos binários ou temporários
*.png
*.log

# Incluir explicitamente as pastas do projeto
!bootlover-backend/
!bootlover-frontend/
