/* login.scss e register.scss */

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #4CAF50; /* verde */
    color: white;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #45a049; /* tom mais escuro de verde */
  }
  