.roleta-container {
  text-align: center;
  margin-top: 50px;
}

.roleta {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid #333;
  position: relative;
  margin: 20px auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  transition: transform 4s ease-out;
}

.roleta.spin {
  transform: rotate(3600deg);
}

.roleta-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg); /* Começa com a rotação de 0 */
  transform-origin: center;
}

.segment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%; /* A altura é ajustada para o texto caber bem */
  transform-origin: center;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #ff9800;
  color: white;
  box-sizing: border-box;
  transform: rotate(calc(360deg / 10)); /* Ajusta a rotação para 10 segmentos */
  display: flex;
  align-items: center;
  justify-content: center;
}

.ponteiro {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #333;
}
